  body{
    background-color: black;
  }
.mainpage{
  padding-top: 5%;


}
@media(max-width:900px){
  .mainpage{
    padding-top: 15%;
  }
}
.mainlogo{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.slideshow-firsttext{
  text-align: center;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 60px;
  color:white;
  font-size: 80px;
}
.slideshow-Secondtext{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 60px;
  margin-top: 40px;
  float: right;
}
.slideshow-Thirdtext{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 60px;
  margin-top: 40px;
  float: right;
}
.navbar{
   background-color: #333333;
}
/*@media(max-width:900px){
  .bar{
    height: 80px;
  }
}*/
.d-block{

  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.card{
  background-color: black;
  border-color: #0066ff;
  border-width: medium;
  color: White;
}
.card:hover{
  background: #333333;
}
.t1{
  background-color: #262626;
}
.t3{
  background-color: #262626;
}
.heading-of-event{
  padding-top: 5% ;
  color: white;
  text-align: center;
}

.event-column{
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 3% 2% 3% 2%;
}
.ev{
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 3% 2% 3% 2%;
}
.ev1{
  margin-top: 20px;
  padding: 3% 2% 3% 2%;
}
.event-column1{
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 3% 2% 3% 2%;
  margin-left: 5px;
  margin-right: 5px;
}
#tech-events-1{
  text-align: center;
}
#non-tech-events-1{
  text-align: center;
}
#game-events-1{
  text-align:center;
}
#RegisterBtn1{
  margin-left:24px;
}
#RegisterBtn2{
  margin-left:24px;
}
#RegisterBtn3{
  margin-left:24px;
}


#btn1{
  margin-left:6px;
  margin-right: 12px;
}
#btn2{
  margin-left:6px;
  margin-right: 6px;
}
.top, .mid , .last{
  margin-left: 20px;

}

.nav-link{
  margin-left:6px;
  margin-right: 6px;
}
.con{
  background: black;
}

.Contact1{
  text-align: center;
  color: White;
  padding-top: 25px;
  padding-bottom: 25px;
  background: black;
  overflow: auto;
  height: 650px;
}



#About-Us{
  text-align: center;
}
.about1{
  text-align: center;
  background-color:#333333;
  padding-top: 15px;
  padding-bottom: 20px;
  font-weight: normal;
  color: White;

}
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  background-image: url("imgbg.jpg");
}
.aboutimg{
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
@media(max-width:900px){
  .aboutimg{
    /*padding-top: 5%;*/
    height: 180px;
    width: 180px;

  }
}

.bottomContainer{
  text-align: center;
  background-color: #262626;
  padding-top: 15px;
  padding-bottom: 20px;
  font-weight: normal;
  color: white;

}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.padicon{
  padding-right: 2px;
  padding-left: 2px;
  margin-left:3px;
  margin-right: 6px;
}


.display {
	flex: 1;
	display: flex;
	flex-direction : column;
	align-items : center;
	justify-content : center;
	font-family: 'Ubuntu', sans-serif;
	/*padding-bottom: 60px;*/
}

.event_title {
	color: #fff;
	text-align: center;
	font-size: 74px;
}

@media (max-width:900px) {
  .event_title {
  	color: #fff;
  	text-align: center;
  	font-size: 50px;
    padding-top: 10px;
  }

}

p.action_caption{
	color: #fff;
	text-align: center;
	font-size: 16px;
	letter-spacing: 5px;
	font-weight: 100;
}
#door{
	text-align: center;
}
.call_to_action_button{
	margin-top: 40px;
	border-radius: 20px;
}
button.call_to_action_button {
	letter-spacing: 2px;
	text-align: center;
	font-size: 16px;
	top: 50%;
	left: 50%;
	color: #fff;
	padding: 20px;
	width: 0 auto;
	border-radius: 20px;
	box-sizing: border-box;
	background: #0074D9;
	border-style: none;
}
button:hover{
	background: #fff;
	color: #0074D9;
	font-weight: bold;
}
button:active{
	background: #fff;
	color: #0074D9;
	font-weight: bold;
}
button:focus{
	background: #fff;
	color: #0074D9;
	font-weight: bold;
}
.clock{
	width: auto;
}
#numbers{
	width: auto;
}




#numbers span{
	float: left;
	text-align: center;
	font-size: 60px;
	margin: 0 2.5%;
	color: #fff;
	padding: 20px;
	width: 20%;
	border-radius: 20px;
	box-sizing: border-box;
}

@media (max-width:900px) {

  #numbers span{
  	float: left;
  	text-align: center;
  	font-size: 22px;
  	margin: 0 2.5%;
  	color: #fff;
  	padding: 20px;
  	width: 20%;
  	border-radius: 20px;
  	box-sizing: border-box;
  }

}



#numbers span:nth-child(1){
  border: 2px solid #fa5559;
}
#numbers span:nth-child(2){
    border: 2px solid #26c2b9;
}
#numbers span:nth-child(3){
    border: 2px solid #f6bc58;
}
#numbers span:nth-child(4){
    border: 2px solid #2dcb74;
}

#numbers:after{
	content: "";
	display: block;
	clear: both;
}



#units span{
	float: left;
	width: 25%;
	text-align: center;
	margin-top: 30px;
	color: #ddd;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
	text-shadow: 1px 1px 1px rgba(10,10,10, 0.7);
}

@media (max-width:900px) {

  #units span{
  	float: left;
  	width: 25%;
  	text-align: center;
  	margin-top: 30px;
  	color: #ddd;
  	text-transform: uppercase;
  	font-size: 14px;
  	letter-spacing: 1px;
  	text-shadow: 1px 1px 1px rgba(10,10,10, 0.7);
  }
}


span.turn{
  	animation: turn 0.7s ease forwards;
}

@keyframes turn{
	0%{transform: rotateX(0deg)}
	100%{transform: rotateX(360deg)}
}

.hide{
	display: none;
}

.author{
	padding-top: 60px;
	color: #fff;
	text-align: center;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 100;
}
.test{
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.bigicon{
  font-size: 100px;
}
.ss{
  padding-left: 70px;
}
@media (max-width:900px) {
  .card-title{
    font-size:40px;
  }
}
.ct{
  font-size: 30px;
}
@media (max-width:900px) {
  .ct{
    font-size: 20px;
  }
}
@media (max-width:900px) {
  .card-title{
    font-size:30px;
  }
}
.pg{
  position: absolute;
    /*margin-right: : 50px;*/
    margin-left: 43%;
    width: 100px;
    height: 100px;
}
.sp{
  height: 800px;
}
@media (max-width:900px) {
  .unit1{
    font-size: 10px;
  }
}
